<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webCalculator</title>
</head>
<body>
    <form action="/answer" method="POST" onsubmit = "return Validated()">
        <h1>Perform Your Calculation</h1><br>
        <label for="operation">operation</label><br>
        <select name="operation" id="operation">
            <option value=""></option>
            <option value="add">add</option>
            <option value="product">product</option>
        </select><br><br>
        <label for="number1">FirstNumber</label><br>
        <input type="text" name="number1" id="number1"><br><br>
        <label for="number2">SecondNumber</label><br>
        <input type="text" name="number2" id="number2"><br><br>
        <input type="submit" value=" Get Result">
    </form>

<script>
    function Validated(){
  let number1 = document.getElementById('number1').value;
  let number2 = document.getElementById('number2').value;
  let operation = document.getElementById('operation');
  let index = operation.selectedIndex;

  if(operation.options[index].value === ''){
      alert('Select an operator');
      return false;
  }

  if(isNaN(number1) || isNaN(number2)){
      alert('Please enter valid numbers only');
      return false;
  }
  return true;
    }
</script>

</body>
</html>